<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">
    {{ end }}
    <meta name="keywords" content="" />
    {{ .Hugo.Generator }}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,100" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}public/images/favicon.ico"/>
    <title>Automotive</title>
    <meta property="og:title" content="" />
    <meta property="og:description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/logo/eclipse.png" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}public/css/solstice.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="" id="body_solstice">
    <a class="sr-only" href="#content">Skip to main content</a>
    <header role="banner">
      <div class="container">
        <div id="row-logo-search">
          <div id="header-left" class="col-sm-14 col-md-16 col-lg-19">
            <div class="row">
              <div class="hidden-xs">
                <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}public/images/logo/AutomotiveLogo.png" alt="Automotive logo" class="logo-eclipse-default"/></a>
              </div>
              <div id="main-menu" class="navbar row yamm">
                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    {{ partial "menu.html" . }}
                  </ul>
                </div>
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a href="{{ .Site.BaseURL }}" class="navbar-brand visible-xs"><img src="{{ .Site.BaseURL }}public/images/logo/AutomotiveLogo.png" alt="Automotive logo" width="174" class="logo-eclipse-default"/></a>                
                </div>
              </div>
            </div>
          </div>
          <div id="header-right" class="form-inline col-sm-10 col-md-8 col-lg-5 hidden-print hidden-xs">
            <div id="header-right-container">
              {{ partial "google-cse.html" . }}
              <!-- /input-group -->
              <a id="btn-call-for-action" href="{{ .Site.BaseURL }}/downloads" class="btn btn-huge btn-warning"><i class="fa fa-download"></i> Download</a>            
            </div>
          </div>
        </div>
      </div>
    </header>
    {{ partial "breadcrumbs.html" . }}
    <main role="main" class=" no-promo">
    <div class="container background-image-none" id="novaContent">
    <!-- Start of content area -->